<div class="container">
    <h1 class="text-center">{{ locData.nameLocation }}</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">
          <div class="card-header">
            <h2 class="text-center">Location details</h2>
          </div>
          <div class="card-body">
            <div *ngIf="locData">
              <ul class="list-group">
                <li class="list-group-item"><strong>Name:</strong> {{ locData.nameLocation }}</li>
                <li class="list-group-item"><strong>Latitude:</strong> {{ locData.latLocation }}</li>
                <li class="list-group-item"><strong>Longitude:</strong> {{ locData.lonLocation }}</li>
                <li class="list-group-item"><strong>Description:</strong> {{ locData.descriptionLocation }}</li>
                <li class="list-group-item"><strong>ID:</strong> {{ locData._id }}</li>
                <li class="list-group-item"><strong>Created at:</strong> {{ locData.createdAt }}</li>
                <li class="list-group-item"><strong>Updated at:</strong> {{ locData.updatedAt }}</li>
              </ul>
            </div>
  
            <div *ngIf="!locData" class="text-center mt-5">
              <p>Loading data...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>