/* Define el ancho de cada columna de la tabla */
.table thead th:nth-child(1),
.table tbody td:nth-child(1) {
  width: 10%;
}

.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
  width: 25%;
}
.mb-4 {
  margin-top: 1.5rem;
}


.table thead th:nth-child(3),
.table tbody td:nth-child(3) {
  width: 35%;
}

.table thead th:nth-child(4),
.table tbody td:nth-child(4) {
  width: 15%;
}

.table thead th:nth-child(5),
.table tbody td:nth-child(5),
.table thead th:nth-child(6),
.table tbody td:nth-child(6) {
  width: 7.5%;
  text-align: center;
}

.table thead th:nth-child(6),
.table tbody td:nth-child(6) {
  padding-right: 0;
}

/* Estilos de las filas con clase "table-success" */
.table-success > td:nth-child(4) {
  background-color: #d4edda;
  color: #155724;
}

.table-success > td:nth-child(4)::before {
  content: '\2714';
  color: #155724;
  margin-right: 0.5em;
}

/* Estilos de las filas con clase "table-danger" */
.table-danger > td:nth-child(4) {
  background-color: #f8d7da;
  color: #721c24;
}

.table-danger > td:nth-child(4)::before {
  content: '\2718';
  color: #721c24;
  margin-right: 0.5em;
}

/* Estilos generales de la tabla */
.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}

.table .badge {
  font-size: 1rem;
  padding: 0.5em 1em;
}
.search-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.search-container input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 60%;
  margin-right: 1rem;
}

.search-container button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0062cc;
}
.btn {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  }

  
.animated-word2{
  font-family: Helvetica;
	letter-spacing: 0.2em;
	font-weight: 10px;
	font-size: 20px;
	text-align: center;
  cursor: pointer;
  max-width: 150px; 
  width: 100%; 
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}
.animated-word2:hover {
	color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 50px;
}
.animated-word {
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 150;
	font-size: 25px;
	text-align: center;
	color: #202125;
  cursor: pointer;
  max-width: 150px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: rgba(71, 126, 232,0.5);
  outline-offset: 70px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
	color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 50px;
}
