/* Define el ancho de cada columna de la tabla */
.table thead th:nth-child(1),
.table tbody td:nth-child(1) {
  width: 33%;
  color:#000a23;
  text-align: center;
}

.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
  width: 33%;
  color:#000a23;
}
.mb-4 {
  margin-top: 1.5rem;
}


.table thead th:nth-child(3),
.table tbody td:nth-child(3) {
  width: 33%;
  color:#000a23;
}

.table thead th:nth-child(4),
.table tbody td:nth-child(4) {
  width: 15%;
  color:#000a23;
}

.table thead th:nth-child(5),
.table tbody td:nth-child(5),
.table thead th:nth-child(6),
.table tbody td:nth-child(6) {
  width: 7.5%;
  text-align: center;
  color:#000a23;
}

.table thead th:nth-child(6),
.table tbody td:nth-child(6) {
  padding-right: 0;
  color:#000a23;
}

/* Estilos de las filas con clase "table-success" */
.table-success > td:nth-child(4) {
  background-color: #d4edda;
  color: #155724;
}



.table-success > td:nth-child(4)::before {
  content: '\2714';
  color: #155724;
  margin-right: 0.5em;
}

/* Estilos de las filas con clase "table-danger" */
.table-danger > td:nth-child(4) {
  background-color: #f8d7da;
  color: #721c24;
}

.table-danger > td:nth-child(4)::before {
  content: '\2718';
  color: #721c24;
  margin-right: 0.5em;
}

/* Estilos generales de la tabla */
.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}

.table .badge {
  font-size: 1rem;
  padding: 0.5em 1em;
}
.search-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.search-container input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 60%;
  margin-right: 1rem;
}

.search-container button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #153f59;
  color: #fff;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #153f59;
}
.btn {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  }

  
.animated-word2{
  font-family: Helvetica;
	letter-spacing: 0.2em;
	font-weight: 10px;
	font-size: 20px;
	text-align: center;
  cursor: pointer;
  color:#000a23;
  max-width: 150px; 
  width: 100%; 
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}
.animated-word2:hover {
	color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(23, 40, 73, 0);
  outline-offset: 50px;
}
.animated-word {
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 150;
	font-size: 25px;
	text-align: center;
	color: #202125;
  cursor: pointer;
  max-width: 150px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: rgba(71, 126, 232,0.5);
  outline-offset: 70px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
	color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 50px;
}

.button-arounder {
  font-size: 2rem;
  background: hsl(190deg, 30%, 15%);
  color: hsl(190deg, 10%, 95%);
  
  box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
  transform: translateY(0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  
  --dur: .15s;
  --delay: .15s;
  --radius: 16px;
  
  transition:
    border-top-left-radius var(--dur) var(--delay) ease-out,
    border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
    border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
    border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
    box-shadow calc(var(--dur) * 4) ease-out,
    transform calc(var(--dur) * 4) ease-out,
    background calc(var(--dur) * 4) steps(4, jump-end);
}

.button-arounder:hover,
.button-arounder:focus {
  box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
  transform: translateY(-4px);
  background: hsl(230deg, 50%, 45%);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.textoPag{
  margin-top: 25px;
  font-size: 50px;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  color:#000a23;
  margin-left: 50px;
  margin-right: 50px;
}
.input-group{
  margin-left: 25%;
  width: 1000px;
}