<div class="container">
    <h1 class="text-center">Comment details</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">
          <div class="card-header">
            <h2 *ngIf="commentId" class="text-center">{{commentId}}</h2>
          </div>
          <div class="card-body">
            <div *ngIf="commentData">
              <ul class="list-group">
                <li class="list-group-item"><strong>ID:</strong> {{ commentData._id }}</li>
                <li class="list-group-item"><strong>Creator ID:</strong> {{ commentData.idUserComment }}</li>
                <li class="list-group-item"><strong>Publication ID:</strong> {{ commentData.idPublicationComment }}</li>
                <li class="list-group-item"><strong>Text:</strong> {{ commentData.textComment }}</li>
                <li class="list-group-item"><strong>Likes:</strong> {{ commentData.likesComment?.length }}</li>
                <li class="list-group-item"><strong>Comment responses:</strong> {{ commentData.responseComment }}<a><button type="button" class="btn btn-primary" (click)="showResponses(commentData)">Responses</button></a></li>
                <li class="list-group-item"><strong>Created at:</strong> {{ commentData.createdAt }}</li>
                <li class="list-group-item"><strong>Updated at:</strong> {{ commentData.updatedAt }}</li>
              </ul>
            </div>
  
            <div *ngIf="!commentData" class="text-center mt-5">
              <p>Loading data...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
