<div class="container">
    <h1 class="text-center">{{ userData.mailUser }}</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">
          <div class="card-header">
            <h2 class="text-center">User details</h2>
          </div>
          <div class="card-body">
            <div *ngIf="userData">
              <ul class="list-group">
                <li class="list-group-item"><strong>Nick:</strong> {{ userData.appUser }}</li>
                <li class="list-group-item"><strong>Name:</strong> {{ userData.nameUser }}</li>
                <li class="list-group-item"><strong>Surname:</strong> {{ userData.surnameUser }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ userData.mailUser }}</li>
                <li class="list-group-item"><strong>Birthday:</strong> {{ userData.birthdateUser }}</li>
                <li class="list-group-item"><strong>Gender:</strong> {{ userData.genderUser === 'male' ? 'Masculino' : 'Femenino' }}</li>
                <li class="list-group-item"><strong>Ocupation:</strong> {{ userData.ocupationUser }}</li>
                <li class="list-group-item"><strong>Description:</strong> {{ userData.descriptionUser }}</li>
                <li class="list-group-item"><strong>Privacy:</strong> <span *ngIf="userData.privacyUser; else privacidadPublica"><i class="fas fa-lock"></i> Privado</span><ng-template #privacidadPublica><i class="fas fa-unlock"></i> Público</ng-template></li>
                <li class="list-group-item"><strong>Role:</strong> {{ getRolText(userData.roleUser) }}</li>
                <li class="list-group-item"><strong>Estate:</strong> <span [ngClass]="{'text-danger': userData.deletedUser, 'text-success': !userData.deletedUser}">{{ userData.deletedUser ? 'Desactivado' : 'Activo' }}</span></li>
                <li class="list-group-item"><strong>Followers:</strong><a [routerLink]="['/user-details/followers', userData._id]"><button type="button" class="btn btn-primary" (click)="showFollowers(userData._id)">Seguidores</button></a></li>
                <li class="list-group-item"><strong>Following:</strong><a [routerLink]="['/user-details/followed', userData._id]"><button type="button" class="btn btn-primary" (click)="showFollowed(userData._id)">Seguidos</button></a></li>
                <li class="list-group-item"><strong>ID:</strong> {{ userData._id }}</li>
                <li class="list-group-item"><strong>Created at:</strong> {{ userData.createdAt }}</li>
                <li class="list-group-item"><strong>Updated at:</strong> {{ userData.updatedAt }}</li>
              </ul>
            </div>
  
            <div *ngIf="!userData" class="text-center mt-5">
              <p>Loading data...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  