<confirmation-modal
  [isOpen]="isModalOpen"
  (acceptChanges)="onAcceptChanges()"
  (cancelChanges)="onCancelChanges()"
></confirmation-modal>
<h2 class="text-center">Create user</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row g-3">
  <div class="form-group">
    <label for="appUser">User:</label>
    <input
      type="text"
      id="appUser"
      formControlName="appUser"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls.appUser.invalid &&
        (userForm.controls.appUser.dirty || userForm.controls.appUser.touched)
      "
    >
      <div *ngIf="userForm.controls.appUser.errors.required">
        This camp is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="nameUser">Name:</label>
    <input
      type="text"
      id="nameUser"
      formControlName="nameUser"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls.nameUser.invalid &&
        (userForm.controls.nameUser.dirty || userForm.controls.nameUser.touched)
      "
    >
      <div *ngIf="userForm.controls.nameUser.errors.required">
        This camp is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="surnameUser">Surname:</label>
    <input
      type="text"
      id="surnameUser"
      formControlName="surnameUser"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls.surnameUser.invalid &&
        (userForm.controls.surnameUser.dirty ||
          userForm.controls.surnameUser.touched)
      "
    >
      <div *ngIf="userForm.controls.surnameUser.errors.required">
        This camp is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="mailUser">Email:</label>
    <input
      type="email"
      id="mailUser"
      formControlName="mailUser"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls.mailUser.invalid &&
        (userForm.controls.mailUser.dirty || userForm.controls.mailUser.touched)
      "
    >
      <div *ngIf="userForm.controls.mailUser.errors.required">
        This camp is required.
      </div>
      <div *ngIf="userForm.controls.mailUser.errors.email">
        This camp has to be a valid email.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="passwordUser">Password:</label>
    <input
      type="password"
      id="passwordUser"
      formControlName="passwordUser"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls.passwordUser.invalid &&
        (userForm.controls.passwordUser.dirty ||
          userForm.controls.passwordUser.touched)
      "
    >
      <div *ngIf="userForm.controls.passwordUser.errors.required">
        This camp is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="photoUser">Photo:</label>
    <input
      type="text"
      id="photoUser"
      formControlName="photoUser"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls.photoUser.invalid &&
        (userForm.controls.photoUser.dirty ||
          userForm.controls.photoUser.touched)
      "
    >
      <div *ngIf="userForm.controls.photoUser.errors.required">
        This camp is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="birthdateUser">Birthdate:</label>
    <input
      type="date"
      id="birthdateUser"
      formControlName="birthdateUser"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="genderUser">Gender:</label>
    <select id="genderUser" formControlName="genderUser" class="form-control">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

  <div class="form-group">
    <label for="ocupationUser">Ocupation:</label>
    <input
      type="string"
      id="ocupationUser"
      formControlName="ocupationUser"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="descriptionUser">Description:</label>
    <input
      type="string"
      id="descriptionUser"
      formControlName="descriptionUser"
      class="form-control"
    />
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="privacyUser"
      name="privacyUser"
      formControlName="privacyUser"
    />
    <label class="form-check-label" for="privacyUser">Privacy</label>
  </div>
  <div class="form-group">
    <label for="roleUser">Role</label>
    <select class="form-control" id="roleUser" name="roleUser">
      <option value="user">User</option>
      <option value="business">Business</option>
      <option value="admin">Admin</option>
    </select>
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="deletedUser"
      name="deletedUser"
      formControlName="deletedUser"
    />
    <label class="form-check-label" for="deletedUser">Eliminated</label>
  </div>

  <button class="btn btn-primary" (click)="openModal()">Save changes</button>
</form>
