<div class="container">
    <h1 class="text-center">Publication details</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">
          <div class="card-header">
            <h2 *ngIf="publicationId" class="text-center">{{publicationId}}</h2>
          </div>
          <div class="card-body">
            <div *ngIf="publicationData">
              <ul class="list-group">
                <li class="list-group-item"><strong>ID:</strong> {{ publicationData._id }}</li>
                <li class="list-group-item"><strong>Creator ID:</strong> {{ publicationData.idUserPublication }}</li>
                <li class="list-group-item"><strong>Text:</strong> {{ publicationData.textPublication }}</li>
                <li class="list-group-item"><strong>Likes:</strong> {{ publicationData.likesPublication?.length }}</li>
                <li class="list-group-item"><strong>Comentarios:</strong><a><button type="button" class="btn btn-primary" (click)="showResponses(publicationData, 'Comments')">Responses</button></a></li>
                <li class="list-group-item"><strong>Fotos:</strong> {{ publicationData.photoPublication[0] }}<a><button type="button" class="btn btn-primary" (click)="showPhoto(publicationData)">Fotos</button></a></li>
                <li class="list-group-item"><strong>Fecha de creación:</strong> {{ publicationData.createdAt }}</li>
                <li class="list-group-item"><strong>Fecha de última actualización:</strong> {{ publicationData.updatedAt }}</li>
              </ul>
            </div>
  
            <div *ngIf="!publicationData" class="text-center mt-5">
              <p>Loading data...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
